
body{
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 120px;
  padding-bottom: 10px;
}

header.masthead .intro-text .intro-heading {
  font-size: 45px;
  color: #ac00e6;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 120px;
    padding-bottom: 10px;
  }
  
  header.masthead .intro-text .intro-heading {
    font-size: 45px;
    color: #ac00e6;
    margin-bottom: 10px;
  }
}

#gender{
  margin-left: 5px;
  margin-right: 10px;
}

#name{
  font-size: 20px;
  margin-top: 10px;
}

#vote{
  margin-top: 10px;
}

#name-error{
  color: red;
}

.list-group{
  align-items: center;
}

.list-group-item{
  padding: 0rem 0rem;
  width: 250px;
}

/* For sticky footer*/
html,
body{
  height: 100%;
}
#page-content{
  flex: 1 0 auto;
}
#sticky-footer {
  flex-shrink: none;
}